// .wrapper {
//   background-color: rgb(242, 245, 248);
// }
.header {
  height: 50px;
  background: lightblue;
}
.content {
  display: flex;
  padding: 10px 50px;
  .main {
    width: 70%;
  }
  .index {
    flex-grow: 1;
    background: rgb(148, 148, 231);
  }
}
.content-item {
  background: white;
  padding: 20px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  .title {
    text-align: center;
    font-size: 30px;
    padding: 10px 0; 
  }
  .specification {
    text-align: center;
    color: #999;
  }
}